<div class="container">
  <div class="grid-container">
    <div id="cell11" (click)="gameMove($event)"><img [src]="backgroundPath" alt="image"></div>
    <div id="cell21" (click)="gameMove($event)"><img [src]="backgroundPath" alt="image"></div>
    <div id="cell31" (click)="gameMove($event)"><img [src]="backgroundPath" alt="image"></div>
    <!-- ----------------------- -->
    <div id="cell12" (click)="gameMove($event)"><img [src]="backgroundPath" alt="image"></div>
    <div id="cell22" (click)="gameMove($event)"><img [src]="backgroundPath" alt="image"></div>
    <div id="cell32" (click)="gameMove($event)"><img [src]="backgroundPath" alt="image"></div>
    <!-- ----------------------- -->
    <div id="cell13" (click)="gameMove($event)"><img [src]="backgroundPath" alt="image"></div>
    <div id="cell23" (click)="gameMove($event)"><img [src]="backgroundPath" alt="image"></div>
    <div id="cell33" (click)="gameMove($event)"><img [src]="backgroundPath" alt="image"></div>
  </div>
  <div style="text-align:center">
    <button routerLink="/welcome">Click to Start from the begining</button>
  </div>
</div>